:root {
    --primary: #13d356;
    --secondary: #9a39d6;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #621005;
    --border-radius: 0.5rem;
  }

.app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }

.thunder {
    padding: 3% 4%;
    background-color: var(--dark);
    color: var(--primary);
  }
  
  .thunder p {
    max-width: 75%;
  }