:root {
    --primary: #13d356;
    --secondary: #9a39d6;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #621005;
    --border-radius: 0.5rem;
  }

.app-title {
    font-size: 4rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 11px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }

.thunder {
    padding: 2% 4%;
    color: var(--primary);
    background-color: var(--dark);
     }
  
  .thunder p {
    max-width: 75%;
  }

  .card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    padding: 20px;
  }

  .form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.city-butt {
  background-color: var(--dark);
  color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.city-butt:hover {
   background-color: var(--secondary);
}


.max-width-600 {
  max-width: 600px;
}

.card-flex-column {
  display: flex;
  flex-direction: column;
}

#forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.forecast-card {
  flex: 1 0 20%; 
  max-width: 200px; 
  background-color: #788585;
}


.col-md-6 {
  margin: 0;
}
