:root {
    --primary: #13d356;
    --secondary: #9a39d6;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #621005;
    --border-radius: 0.5rem;
  }

.app-title {
    font-size: 4rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 0 11px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }

.thunder {
    padding: 2% 4%;
    color: var(--primary);
    background-color: var(--dark);
     }
  
  .thunder p {
    max-width: 75%;
  }

  /* Header section */
header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

/* Left column */
.row {
  display: flex;
}

.col-md-6 {
  flex: 0 0 600px; /* Fixed width of 600px */
}

.card.max-width-600 {
  max-width: 600px; /* Limit the card width to 600px */
  margin: auto; /* Center the card horizontally */
}

/* Right column */
.card-flex-column {
  flex-grow: 1; /* Take up remaining space */
}

/* Main content */
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card-rightnow,
.card-forecast {
  margin-bottom: 20px;
}


  .card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    padding: 20px;
  }

  .form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.btn {
  font-size: 1rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: var(--light-dark);
  box-shadow: 3px 3px var(--dark);
  transform: translate(-1px, -1px);
}

.city-butt {
  background-color: var(--dark);
  color: var(--primary);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.city-butt:hover {
   background-color: var(--secondary);
}


.max-width-600 {
  max-width: 600px;
}

.card-flex-column {
  display: flex;
  flex-direction: column;
}

/* #forecast-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.forecast-card {
  flex: 1 0 20%; 
  max-width: 200px; 
  background-color: #788585;
}

.col-md-6 {
  margin: 0;
} */

.forecast-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  padding: 10px;
  margin: 10px;
  background-color: #788585;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forecast-card h3 {
  margin-top: 0;
}

.forecast-card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.forecast-card p {
  margin: 5px 0;
}

/* .card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex-basis: calc(20%)
  margin-bottom: 20px;
} */


.card-rightnow {
  background-color: #f0f0f0;
  
}

